// Place all the styles related to the userfeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";



h2, h3, h4, h5, h6 {
  line-height: 2;
  display: inline;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {

  font-size: 1em;

}

p#username{
 top: 100px;
}







